@page
@model EDP_Project.Pages.Staff.WADashboardModel
@{
    ViewData["Title"] = "Web Analytics Dashboard";
}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<style>
    .card.card-stats {
        margin: 15px auto 0 auto;
        border: 1px solid #cccccc;
        box-shadow: 0 0 5px #cccccc;
    }


    .floater {
        float: right;
    }

    .grp-chart {
        display: inline-block;
        margin: 15px 3% 0 0;
        width: 30%;
        border: 1px solid #cccccc;
        box-shadow: 0 0 5px #cccccc;
    }

    .grp-chart > h3 {
        margin: 5%;
    }

</style>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Web Analytics Dashboard</li>
    </ol>
</nav>

<div class="container">

    <h1 class="text-center">Web Analytics Dashboard</h1>


    <!-- Card stats -->
    <div class="row">

        <div class="col-xl-4 col-md-6">
            <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">Number of Blogs </h5>
                            <span class="h2 font-weight-bold mb-0">@Model.blogCount</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-md-6">
            <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">Number of Surveys</h5>
                            <span class="h2 font-weight-bold mb-0">@Model.surveyCount</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-md-6">
            <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">Total Users</h5>
                            <span class="h2 font-weight-bold mb-0">@Model.totalUsers</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="grp-chart" style="width: 100%; display:block;">
        <h3>Revenue Overtime</h3>
        <div id="rotChart_div" class="gchart"></div>
    </div>


    <div class="grp-chart">
        <h3>Users By Gender</h3>
        <div id="genderChart_div" class="gchart"></div>
    </div>

    <div class="grp-chart">
        <h3>Customers' Region</h3>
        <div id="geoChart_div" class="gchart"></div>
    </div>

    <div class="grp-chart">
        <h3>Web Traffic Sources</h3>
        <div id="trafficChart_div" class="gchart"></div>
    </div>




</div>

<script type="text/javascript">

    // Load the Visualization API and the corechart package.
    google.charts.load('current', { 'packages': ['corechart', 'geochart', 'line'] });

    // Set a callback to run when the Google Visualization API is loaded.
    google.charts.setOnLoadCallback(drawChart);

    // Callback that creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.
    function drawChart() {

        //
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Gender');
        data.addColumn('number', 'Count');
        data.addRows([
            ['Male', @Model.maleCount],
            ['Female', @Model.femaleCount]
        ]);

        var options = {
            'height': 250,
            'pieHole': 0.5
        };

        var chart = new google.visualization.PieChart(document.getElementById('genderChart_div'));
        chart.draw(data, options);

        //
        var data = google.visualization.arrayToDataTable([
            ['Country', 'Popularity'],
            ['Germany', 200],
            ['United States', 300],
            ['Brazil', 400],
            ['Canada', 500],
            ['France', 600],
            ['RU', 700]
        ]);

        var options = {
            'height': 250
        };

        var chart = new google.visualization.GeoChart(document.getElementById('geoChart_div'));
        chart.draw(data, options);


        //
        var data = google.visualization.arrayToDataTable([
            ['Year', 'Visitations', { role: 'style' }],
            ['Opera', 14, 'color: #76A7FA'],
            ['Safari', 16, 'opacity: 0.2'],
            ['Firefox', 22, 'stroke-color: #703593; stroke-width: 4; fill-color: #C5A5CF'],
            ['Google Chrome', 28, 'stroke-color: #871B47; stroke-opacity: 0.6; stroke-width: 8; fill-color: #BC5679; fill-opacity: 0.2']
        ]);

        var view = new google.visualization.DataView(data);
        view.setColumns([0, 1,
            {
                calc: "stringify",
                sourceColumn: 1,
                type: "string",
                role: "annotation"
            },
            2]);

        var options = {
            height: 250,
            bar: { groupWidth: "95%" },
            legend: { position: "none" },
        };
        var chart = new google.visualization.BarChart(document.getElementById("trafficChart_div"));
        chart.draw(view, options);



        //
        var data = google.visualization.arrayToDataTable([
            ['Revenue', '2021', '2022'],
            ['Jan', 1000, 400],
            ['Feb', 1170, 460],
            ['Mar', 660, 1120],
            ['Apr', 820, 540],
            ['May', 840, 540],
            ['Jun', 900, 650],
            ['July', 740, 640],
            ['Aug', 700, 740],
            ['Sep', 820, 630],
            ['Oct', 821, 700],
            ['Nov', 800, 810],
            ['Dec', 900, 1020],


        ]);

        var options = {
            curveType: 'function',
            legend: { position: 'bottom' },
            chartArea: {width: '100%'},
            height: 350
        };

        var chart = new google.visualization.LineChart(document.getElementById('rotChart_div'));

        chart.draw(data, options);

    }
</script>