@using Microsoft.AspNetCore.Http;
@using MySql.Data.MySqlClient;

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyFitElderly</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    @*<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/health.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <header>








        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">MyFitElderly</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">



















                        @{

                            string userPhotoPath = "xxx.com";


                            if (@Context.Session.GetString("user") != null)
                            {
                                string userRole = "Guest";
                                MySqlConnection con = new MySqlConnection(@"datasource=localhost;port=3306;database=it2166;username=root;password=password");
                                string sql = "SELECT * FROM User WHERE Username=@USER";
                                MySqlCommand command = new MySqlCommand(sql, con);
                                command.Parameters.AddWithValue("@USER", @Context.Session.GetString("user"));
                                try
                                {
                                    con.Open();
                                    using (MySqlDataReader reader = command.ExecuteReader())
                                    {
                                        while (reader.Read())
                                        {

                                            if (reader["Role"] != DBNull.Value)
                                            {
                                                userRole = reader["Role"].ToString();
                                            }

                                            if (reader["PhotoPath"] != DBNull.Value)
                                            {
                                                userPhotoPath = reader["PhotoPath"].ToString();
                                            }
                                        }
                                    }
                                }
                                catch (Exception ex)
                                {
                                    throw new Exception(ex.ToString());
                                }

                                finally
                                {
                                    con.Close();
                                }


                                // Guest navbar (logged in)

                                if (userRole != "Admin")
                                {

                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-page="/Health/Menu">Health</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-page="/Staff/Blog/Dashboard">Blog Dashboard</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-page="">Fries</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-page="/Staff/Survey/View">Survey</a>
                                    </li>
                                    @*<li class="nav-item ml-auto">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Logout">
                            <i class="fa fa-sign-out fa-lg"></i>
                        </a>
                    </li>*@


                                    <li class="nav-item dropdown ml-auto ">

                                        <img src="~/@userPhotoPath" style="height:40px; width:auto;" class="rounded-circle avatar" alt="Avatar">
                                        <a href="#" data-toggle="dropdown" class="dropdown-toggle user-action text-dark"> <b class="caret" style="font-weight:100; mar">@Context.Session.GetString("user")</b></a>

                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="#"><i class="fas fa-user fa-lg"></i>&nbsp;&nbsp;Kopiko</a>
                                            <a class="dropdown-item" href="/Logout"><i class="fa fa-sign-out fa-lg"></i>&nbsp;&nbsp;Logout</a>
                                            @*<div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>*@
                                        </div>
                                    </li>





                                }
                                else

                                // Administrative navbar

                                {

                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-page="/Health/Menu">Health</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-page="/Blog/UserViewBlog">Blog</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-page="/">Hamburger</a>
                                    </li>
                                    <li class="nav-item ml-auto">
                                        <a class="nav-link text-dark" asp-area="" asp-page="/Logout">
                                        </a>
                                    </li>

                                }
                            }

                            // Unloggedin guest navbar

                            else
                            {

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Health/Menu">Health</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Blog/UserViewBlog">Blog</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="Contact">Contact</a>
                                </li>



                            }








                        }

















                    </ul>
                </div>
            </div>
        </nav>



    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 - EDP_Project - <a asp-area="" asp-page="/Privacy">Privacy</a>
            </div>
        </footer>*@

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
