@using Microsoft.AspNetCore.Http;
@using MySql.Data.MySqlClient;

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyFitElderly</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    @*<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/health.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <style>

        .chat_on {
            position: fixed;
            z-index: 10;
            width: 50px;
            height: 50px;
            right: 15px;
            bottom: 20px;
            /*background-image: url(https://i.ibb.co/ZLj48ry/kissclipart-chatbot-free-clipart-chatbot-artificial-intelligen-fffadac4739526c6-1.png);*/
            background-image: url(https://i.ibb.co/RQTTpB6/5659696.png);
            background-size: cover;
            color: #fff;
            border-radius: 50%;
            text-align: center;
            padding: 9px;
            box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
            cursor: pointer;
            display: block;
        }


        :root {
            --peekobot-height: 60vh;
            --peekobot-avatar: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' viewBox='0 0 100 125' enable-background='new 0 0 100 100' xml:space='preserve'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M38.331,47.025c0.777,0,1.408-0.631,1.408-1.408c0-0.777-0.631-1.408-1.408-1.408 c-0.777,0-1.408,0.631-1.408,1.408C36.923,46.394,37.554,47.025,38.331,47.025z M38.331,50.78c-2.852,0-5.162-2.311-5.162-5.162 c0-2.852,2.311-5.162,5.162-5.162s5.162,2.311,5.162,5.162C43.493,48.469,41.182,50.78,38.331,50.78z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M62.735,50.78c-2.852,0-5.162-2.311-5.162-5.162c0-2.852,2.311-5.162,5.162-5.162 c2.852,0,5.162,2.311,5.162,5.162C67.897,48.469,65.586,50.78,62.735,50.78z M62.735,47.025c0.777,0,1.408-0.631,1.408-1.408 c0-0.777-0.631-1.408-1.408-1.408c-0.777,0-1.408,0.631-1.408,1.408C61.327,46.394,61.958,47.025,62.735,47.025z'/%3E%3Cpath d='M51.941,26.095v-4.77c1.922-0.751,3.285-2.617,3.285-4.805c0-2.851-2.311-5.162-5.162-5.162 c-2.852,0-5.162,2.311-5.162,5.162c0,2.188,1.363,4.054,3.285,4.805v4.77c-17.788,0.79-31.913,12.726-31.913,27.338 c0,0.389,0.016,0.776,0.036,1.161l-0.036-0.031v34.079l10.544-14.415c6.058,4.657,14.237,6.588,23.247,6.588 c18.662,0,33.79-12.259,33.79-27.382C83.854,38.821,69.729,26.885,51.941,26.095z M50.063,15.112c0.777,0,1.408,0.631,1.408,1.408 c0,0.777-0.631,1.408-1.408,1.408c-0.777,0-1.408-0.631-1.408-1.408C48.656,15.743,49.286,15.112,50.063,15.112z M50.063,77.061 c-9.703,0-18.339-2.71-23.834-8.343l-6.202,7.696v-22.43l0.019,0.021c-0.006-0.191-0.019-0.381-0.019-0.573 c0-13.028,13.474-23.628,30.036-23.628c16.562,0,30.036,10.599,30.036,23.628S66.625,77.061,50.063,77.061z'/%3E%3Cpath d='M50.7,67.492c-6.836,0-14.916-3.037-15.257-3.166c-0.969-0.368-1.457-1.452-1.089-2.421c0.367-0.969,1.451-1.458,2.42-1.09 c0.077,0.029,7.786,2.922,13.925,2.922c6.418,0,12.451-2.834,12.511-2.862c0.938-0.444,2.057-0.047,2.501,0.89 c0.445,0.936,0.047,2.056-0.889,2.501C64.546,64.397,57.956,67.492,50.7,67.492z'/%3E%3Cpath fill='%23000000' d='M88.08,60.693L88.08,60.693c-1.032,0-1.877-0.845-1.877-1.877v-12.3c0-1.032,0.845-1.877,1.877-1.877l0,0 c1.032,0,1.877,0.845,1.877,1.877v12.3C89.958,59.848,89.113,60.693,88.08,60.693z'/%3E%3Cpath fill='%23000000' d='M12.047,60.693L12.047,60.693c-1.032,0-1.877-0.845-1.877-1.877v-12.3c0-1.032,0.845-1.877,1.877-1.877h0 c1.032,0,1.877,0.845,1.877,1.877v12.3C13.924,59.848,13.079,60.693,12.047,60.693z'/%3E%3Cpath fill='%23000000' d='M92.623,55.252L92.623,55.252c-1.032,0-1.877-0.845-1.877-1.877v-1.418c0-1.032,0.845-1.877,1.877-1.877l0,0 c1.032,0,1.877,0.845,1.877,1.877v1.418C94.5,54.407,93.655,55.252,92.623,55.252z'/%3E%3Cpath fill='%23000000' d='M7.377,55.252L7.377,55.252c-1.032,0-1.877-0.845-1.877-1.877v-1.418c0-1.032,0.845-1.877,1.877-1.877h0 c1.032,0,1.877,0.845,1.877,1.877v1.418C9.254,54.407,8.41,55.252,7.377,55.252z'/%3E%3C/svg%3E");
        }



        #peekobot-container {
            left: 10px;
            float: left;
            width: 80vw;
            max-width: 300px;
            border: 1px solid hsl(0, 0%, 90%);
            border-radius: 12px;
            box-shadow: 2px 2px 5px hsl(0, 0%, 60%);
            padding: 1rem 1rem 2rem 1rem;
            height: var(--peekobot-height);
            position: absolute;
            bottom: 35px;
            position: fixed;
        }

        #peekobot-inner {
            height: 100%;
            overflow-y: scroll;
            overflow-x: hidden;
            scroll-behavior: smooth;
            position: relative;
            /* Hiding scrollbars is a pain. This is from: https://redstapler.co/css-hidden-scrollbar-while-scrollable-element/ */
            scrollbar-width: none;
            -ms-overflow-style: none;
        }

            #peekobot-inner::-webkit-scrollbar {
                display: none; /* Chrome Safari */
            }

        .chat-response,
        .chat-ask {
            opacity: 0; /* Set to activated to show */
            transform: translateY(-50%); /* Set to activated to move down */
            transition: all 0.3s 0.3s;
            border-radius: 12px;
            background-color: hsl(0, 0%, 90%);
            padding: 0.5rem 0.7rem;
            line-height: 1.4;
            color: black;
            width: 80%;
            margin-bottom: 0.5rem;
        }

        .chat-response {
            margin-left: 26px;
            position: relative;
        }

            .chat-response:before {
                display: block;
                content: '';
                width: 24px;
                height: 24px;
                position: absolute;
                left: -26px;
                top: 6px;
                background-image: var(--peekobot-avatar);
                background-color: #FFF;
                background-repeat: no-repeat;
                background-size: 100%;
                border-radius: 100%;
            }

        .chat-ask {
            background-color: hsl(207, 96%, 55%);
            margin-right: 0;
            margin-left: auto;
            color: hsl(0, 0%, 100%);
        }

        .choices {
            opacity: 0; /* Set to active to show */
            transform: translateY(-50%); /* Set to activated to move down */
            transition: all 0.3s 0.3s;
            transition: opacity 0.3s 0.3s;
            margin-top: 0.5rem;
            margin-left: 22px;
        }

        .choice {
            display: inline-block;
            outline: none;
            border: 1px solid hsl(0, 0%, 0%);
            padding: 0.3rem 0.8rem;
            background-color: hsl(0, 0%, 100%);
            border-radius: 1rem;
            font-size: 0.9rem;
            line-height: 1.3;
            margin-bottom: 0.5rem;
            margin-right: 0.5rem;
            text-decoration: none;
            color: inherit;
            cursor: pointer;
        }

            .choice:disabled {
                color: hsl(0, 0%, 80%);
                border-color: hsl(0, 0%, 80%);
            }

        .activated {
            opacity: 1;
            transform: translateY(0);
        }

        .restart {
            position: absolute;
            bottom: 0.5rem;
            right: 0.5rem;
            outline: none;
            font-size: 12px;
            color: hsl(0, 0%, 50%);
            box-shadow: none;
            border: 1px solid hsl(0, 0%, 60%);
            border-radius: 1rem;
            background: hsl(0, 0%, 100%);
            padding: 0.2rem 0.5rem;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <header>








        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">MyFitElderly</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">



















                        @{

                            string userPhotoPath = "xxx.com";
                            DateTime lastPwSet = new DateTime();


                            if (@Context.Session.GetString("user") != null)
                            {
                                string userRole = "Guest";
                                MySqlConnection con = new MySqlConnection(@"datasource=localhost;port=3306;database=it2166;username=root;password=password");
                                string sql = "SELECT * FROM User WHERE Username=@USER";
                                MySqlCommand command = new MySqlCommand(sql, con);
                                command.Parameters.AddWithValue("@USER", @Context.Session.GetString("user"));
                                try
                                {
                                    con.Open();
                                    using (MySqlDataReader reader = command.ExecuteReader())
                                    {
                                        while (reader.Read())
                                        {

                                            if (reader["Role"] != DBNull.Value)
                                            {
                                                userRole = reader["Role"].ToString();
                                            }

                                            if (reader["PhotoPath"] != DBNull.Value)
                                            {
                                                userPhotoPath = reader["PhotoPath"].ToString();
                                            }
                                            if (reader["LastPwSet"] != DBNull.Value)
                                            {
                                                lastPwSet = (DateTime)reader["LastPwSet"];
                                            }
                                        }
                                    }
                                }
                                catch (Exception ex)
                                {
                                    throw new Exception(ex.ToString());
                                }

                                finally
                                {
                                    con.Close();
                                }


                                // Guest navbar (logged in)

                                if (userRole != "Staff")
                                {


                                    <div class="chat_on" style="left: 20px;"> <span class="chat_on_icon"></span> </div>



                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-page="/Health/Menu">Health</a>
                                    </li>


                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-page="/Blog/UserViewBlog">Blog</a>
                                    </li>

                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle text-dark" id="bookingDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Booking</a>
                                        <div class="dropdown-menu" aria-labelledby="sepcialistDropdown">
                                            <a class="dropdown-item" asp-area="" asp-page="/Booking/MedicalDepartment">Book a Specialist</a>
                                            <a class="dropdown-item" asp-area="" asp-page="">My Appointments</a>
                                        </div>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-page="/Survey/List">Take A Survey</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-page="/frequently-asked-questions">FAQ</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-page="/About">About</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-page="Contact">Contact</a>
                                    </li>



                                    <li class="nav-item dropdown ml-auto ">

                                        <img src="~/@userPhotoPath" style="height:40px; width:auto;" class="rounded-circle avatar" alt="Avatar">
                                        <a href="#" data-toggle="dropdown" class="dropdown-toggle user-action text-dark"> <b class="caret" style="font-weight:100; mar">@Context.Session.GetString("user") (@userRole)</b></a>

                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="/Profile"><i class="fas fa-user fa-lg"></i>&nbsp;&nbsp;Profile</a>
                                            <a class="dropdown-item" href="/Logout"><i class="fa fa-sign-out fa-lg"></i>&nbsp;&nbsp;Logout</a>

                                        </div>
                                    </li>





                                }
                                else

                                // Administrative navbar

                                {

                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                                    </li>




                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle text-dark" id="healthDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Health</a>
                                        <div class="dropdown-menu" aria-labelledby="blogDropdown">
                                            <a class="dropdown-item" asp-page="/Staff/Health/FoodList">Manage food list</a>
                                            <a class="dropdown-item" asp-page="/Staff/Health/ExerciseList">Manage exercise list</a>
                                        </div>
                                    </li>



                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle text-dark" id="blogDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blogging</a>
                                        <div class="dropdown-menu" aria-labelledby="blogDropdown">
                                            <a class="dropdown-item" asp-area="" asp-page="/Staff/Blog/Dashboard">Blog Dashboard</a>
                                            <a class="dropdown-item" asp-area="" asp-page="/Staff/Blog/CommentDashboard">Comment Dashboard</a>
                                            <a class="dropdown-item" asp-area="" asp-page="/Blog/UserViewBlog">Blog</a>
                                        </div>
                                    </li>


                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle text-dark" id="sepcialistDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Specialist</a>
                                        <div class="dropdown-menu" aria-labelledby="sepcialistDropdown">
                                            <a class="dropdown-item" asp-area="" asp-page="/Staff/Booking/ViewSpecialist">Manage Medical Specialists</a>
                                            <a class="dropdown-item" asp-area="" asp-page="/Staff/Booking/CreateSpecialistDepartment">Manage Medical Departments</a>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-page="/Staff/Survey/View">Survey</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-page="/Staff/WADashboard">Web Analytics</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-page="/Staff/Tickets/Dashboard">Ticketing</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-page="/Staff/Accounts/List">User Management</a>
                                    </li>


                                    <li class="nav-item dropdown ml-auto ">

                                        <img src="~/@userPhotoPath" style="height:40px; width:auto;" class="rounded-circle avatar" alt="Avatar">
                                        <a href="#" data-toggle="dropdown" class="dropdown-toggle user-action text-dark"> <b class="caret" style="font-weight:100; mar">@Context.Session.GetString("user") (@userRole)</b></a>

                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="/Profile"><i class="fas fa-user fa-lg"></i>&nbsp;&nbsp;Profile</a>
                                            <a class="dropdown-item" href="/Logout"><i class="fa fa-sign-out fa-lg"></i>&nbsp;&nbsp;Logout</a>

                                        </div>
                                    </li>


                                }
                            }

                            // Unloggedin guest navbar

                            else
                            {



                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Blog/UserViewBlog">Blog</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/frequently-asked-questions">FAQ</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/About">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Contact">Contact Us</a>
                                </li>



                            }



                        }
















                    </ul>
                </div>
            </div>
        </nav>



    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()





            <div id="peekobot-container" style="z-index: 9998; margin-left: 10px; background-color: whitesmoke ">
                <i id="minBtn" class="fa fa-window-minimize" aria-hidden="true" style=" float:right; cursor:pointer"></i>
                <div id="peekobot-inner">

                    <div id="peekobot"></div>
                </div>
            </div>





        </main>
    </div>

    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 - EDP_Project - <a asp-area="" asp-page="/Privacy">Privacy</a>
            </div>
        </footer>*@

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)


    <script>



        $('.chat_on').popover({
            'placement': 'bottom',
            'title': 'Unsure where to begin?',
            'content': "Click here!",
            trigger: 'focus',
        }).popover('show');

        setTimeout(function () {
            $('.chat_on').popover({}).popover('hide');
        }, 5000);


        $("#peekobot-container").hide()

        $(document).ready(function () {
            $(".chat_on").click(function () {

                //$(".Layout").toggle();
                $("#peekobot-container").toggle();
                $(".chat_on").hide();


                $('.chat_on').popover({}).popover('hide');

            });



            $("#minBtn").click(function () {

                $(".chat_on").show();
                $("#peekobot-container").toggle();



            });


        });



        const chat = {
            1: {
                text: 'Hi! Welcome to MyFitElderly!',
                options: [
                    {
                        text: '👋',
                        next: 2
                    }
                ]
            },
            2: {
                text: " I'm YiHang, a credible and hentatical, choice-driven bot and i am here to assist you!",
                next: 3
            },
            3: {
                text: 'Lets get us started. What are you looking for?',
                options: [
                    {
                        text: "I would like to check my Food Journal, Ongoing Medications, Exercise Routine and Calories Intake.",
                        next: 4
                    },
                    {
                        text: "This the season for some blog reading!",
                        next: 5
                    },
                    {
                        text: "I would like to seek assistance.",
                        next: 7
                    },
                    {
                        text: "Amogus",
                        next: 8
                    }

                ]
            },
            4: {
                text: 'Awesome. That is the spirit. You can do the following by navigating to "Home" > "Health" tab. Thank you!',
            },
            5: {
                text: 'Great! you wanna be like Andrea the great - you can do that at "Home" > "Blogs".',
            },
            6: {
                text: 'Minecraft',
                options: [
                    {
                        text: "Go to GitHub, and fly",
                        url: "www"
                    }
                ]
            },
            7: {
                text: "We're here to help! you can first start with our FAQ(s) page, and if that does not work - send us an enquiry via the 'Contact Us' page! :) ",
            },
            8: {
                text: "ooooh high tech gadgetry ben ten omniverse JARVIS pentagon joel long firewall black wire blue wire green wire hacker man smartness intel lenovo steve jobs Mark 1 very very technology Tardis robot terminator assembly bits bytes OOP python iterators lists pickles dicts bots automation RAM, hard disks ssds processor intel AMD qualcomm 7nanometer process overclocking heating issues macbooks dell ultrabooks water cooling for loops while loops OCR indentation error compilation linux gnome awesome KDE plasma macOS *nix systems AI machine learning POSIX compliant shell terminal emulator simulator threads cores quad core multithreading optimisation. I am a bot, and this action was performed automatically.",
            }

        };


        const bot = function () {

            const peekobot = document.getElementById('peekobot');
            const container = document.getElementById('peekobot-container');
            const inner = document.getElementById('peekobot-inner');
            let restartButton = null;

            const sleep = function (ms) {
                return new Promise(resolve => setTimeout(resolve, ms));
            };

            const scrollContainer = function () {
                inner.scrollTop = inner.scrollHeight;
            };

            const insertNewChatItem = function (elem) {
                //container.insertBefore(elem, peekobot);
                peekobot.appendChild(elem);
                scrollContainer();
                //debugger;
                elem.classList.add('activated');
            };

            const printResponse = async function (step) {
                const response = document.createElement('div');
                response.classList.add('chat-response');
                response.innerHTML = step.text;
                insertNewChatItem(response);

                await sleep(1500);

                if (step.options) {
                    const choices = document.createElement('div');
                    choices.classList.add('choices');
                    step.options.forEach(function (option) {
                        const button = document.createElement(option.url ? 'a' : 'button');
                        button.classList.add('choice');
                        button.innerHTML = option.text;
                        if (option.url) {
                            button.href = option.url;
                        } else {
                            button.dataset.next = option.next;
                        }
                        choices.appendChild(button);
                    });
                    insertNewChatItem(choices);
                } else if (step.next) {
                    printResponse(chat[step.next]);
                }
            };

            const printChoice = function (choice) {
                const choiceElem = document.createElement('div');
                choiceElem.classList.add('chat-ask');
                choiceElem.innerHTML = choice.innerHTML;
                insertNewChatItem(choiceElem);
            };

            const disableAllChoices = function () {
                const choices = document.querySelectorAll('.choice');
                choices.forEach(function (choice) {
                    choice.disabled = 'disabled';
                });
                return;
            };

            const handleChoice = async function (e) {

                if (!e.target.classList.contains('choice') || 'A' === e.target.tagName) {
                    // Target isn't a button, but could be a child of a button.
                    var button = e.target.closest('#peekobot-container .choice');

                    if (button !== null) {
                        button.click();
                    }

                    return;
                }

                e.preventDefault();
                const choice = e.target;

                disableAllChoices();

                printChoice(choice);
                scrollContainer();

                await sleep(1500);

                if (choice.dataset.next) {
                    printResponse(chat[choice.dataset.next]);
                }
                // Need to disable buttons here to prevent multiple choices
            };

            const handleRestart = function () {
                startConversation();
            }

            const startConversation = function () {
                printResponse(chat[1]);
            }

            const init = function () {
                container.addEventListener('click', handleChoice);

                restartButton = document.createElement('button');
                restartButton.innerText = "Restart";
                restartButton.classList.add('restart');
                restartButton.addEventListener('click', handleRestart);

                container.appendChild(restartButton);

                startConversation();
            };

            init();
        }

        bot();
    </script>
</body>
</html>
