@page
@model EDP_Project.Pages.HealthModel
@{
    ViewData["Title"] = "My Health Info";
}

<h1>@ViewData["Title"]</h1>
<p>What would you like to view?</p>
<div class="row">
    <div class="col-sm-4">
        <a asp-page="FoodJournal">
            <div class="card text-dark text-center">
                <img class="card-img-top" height="200" src="/images/Food_Journal.jpg" />
                <div class="card-body ">
                    <h4>
                        <span class="card-title">My Food Journal</span>
                    </h4>
                </div>
                <div class="card-footer health-selectionFooter @Model.JournalStatus[2]">
                    <p class="@Model.JournalStatus[1]">@Html.Raw(Model.JournalStatus[0])</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-4">
        <a asp-page="">
            <div class="card text-dark text-center">
                <img class="card-img-top bright-img" height="200" src="/images/Medicine.jpg" />
                <div class="card-body ">
                    <h4>
                        <span class="card-title">My Ongoing Medications</span>
                    </h4>
                </div>
                <div class="card-footer health-selectionFooter">
                    <p>You have no ongoing medication</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-4">
        <a asp-page="MyExerciseRoutine">
            <div class="card text-dark text-center">
                <img class="card-img-top" height="200" src="/images/Exercise.jpg" />
                <div class="card-body ">
                    <h4>
                        <span class="card-title">My Exercise Routine</span>
                    </h4>
                </div>
                <div class="card-footer health-selectionFooter @Model.ExerciseStatus[2]">
                    <p class="@Model.ExerciseStatus[1]">@Html.Raw(Model.ExerciseStatus[0])</p>
                </div>
            </div>
        </a>
    </div>
</div>
<br style="margin-bottom:5%;"/>
<div class="row">
    <div class="col-sm-4">
        <a asp-page="MyCaloriesIntake">
            <div class="card text-dark text-center">
                <img class="card-img-top" height="200" src="/images/Calories.jpg" />
                <div class="card-body ">
                    <h4>
                        <span class="card-title">My Calories Intake</span>
                    </h4>
                </div>
                <div class="card-footer health-selectionFooter @Model.CaloriesStatus[2]">
                    <p class="@Model.CaloriesStatus[1]">@Html.Raw(Model.CaloriesStatus[0])</p>
                </div>
            </div>
        </a>
    </div>
</div>