@page "{sid}"
@model EDP_Project.Pages.Staff.Survey.EditModel
@{
    ViewData["Title"] = "Edit Survey - Admin";
}

<link href="~/css/surveystyle.css" rel="stylesheet" />

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a asp-page="View">Survey</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit</li>
    </ol>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="p-3">
                @{
                    if (Model.svy != null)
                    {
                        <form asp-action="" method="post" id="mainContainerForm">
                            <div class="col-12 my-3 text-center">
                                <input type="submit" value="Update" class="btn btn-warning ml-auto" />

                            </div>
                            <div class="row mt-4">
                                <div class="col-md-12">
                                    <div class="card p-3 form-1 form-group">
                                        <h1 class="text-center text-dark mt-5">Edit Survey</h1>

                                        <div asp-validation-summary="All" class="text-danger"></div>

                                        <div class="col-12 my-3">
                                            <input hidden class="form-label" asp-for="@Model.svy.SurveyUUID" value="@Model.svy.SurveyUUID" />
                                        </div>
            

                                        @{ 
                                            if (Model.svy.ImgBytes != null)
                                                {
                                                    <div class="imgDiv">
                                                        @{ 
                                                            var base64 = Convert.ToBase64String(Model.svy.ImgBytes);
                                                            var userImage = String.Format("data:image/gif;base64,{0}", base64);
                                                            <img src="@userImage" alt="Survey Image" class="surveyImage"/>
                                                        }
                                                    </div>
                                                }
                                        }

                                        <div class="col-12 my-3">
                                            <label class="form-label">Category</label>
                                            @Html.DropDownListFor(m => m.svy.Category, Enum.GetNames(typeof(Models.Survey.SurveyCategory)).Select(e => new SelectListItem { Text = e }), new { @class = "form-control" })
                                            <span asp-validation-for="@Model.svy.Category" class="text-danger"></span>
                                        </div>

                                        <div class="col-12 my-3">
                                            <label class="form-label">Title</label>
                                            <input class="form-control" type="text" asp-for="svy.Title" />
                                            <span asp-validation-for="@Model.svy.Title" class="text-danger"></span>
                                        </div>
                                        <div class="col-12 my-3">
                                            <label class="form-label">Description</label>
                                            <textarea class="form-control" asp-for="svy.Description"></textarea>
                                            <span asp-validation-for="@Model.svy.Description" class="text-danger"></span>
                                        </div>

                                        <div class="col-12 my-3">
                                        <label class="form-label">View Status</label>

                                        @{ 
                                            if (Model.svy.ViewStatus == "Visible")
                                            {
                                                <div>
                                                    <label>
                                                        <input type="radio" class="viewStatus" value="Visible" asp-for="@Model.svy.ViewStatus" checked/> Visible
                                                    </label>

                                                    <label class="ml-4">
                                                        <input type="radio" class="viewStatus" value="Hidden" asp-for="@Model.svy.ViewStatus" /> Hidden
                                                    </label>
                                                </div>
                                            } else { 
                                                <div>
                                                    <label>
                                                        <input type="radio" class="viewStatus" value="Visible" asp-for="@Model.svy.ViewStatus"/> Visible
                                                    </label>

                                                    <label class="ml-4">
                                                        <input type="radio" class="viewStatus" value="Hidden" asp-for="@Model.svy.ViewStatus" checked /> Hidden
                                                    </label>
                                                </div>
                                            }
                                        }
                                        </div>

                                    </div>


                                </div>
                            </div>

                            @{
                                var AllQnsList = Model.AllQuestionList;

                                if (AllQnsList != null)
                                {
                                    for (int i = 0; i < AllQnsList.Count; i++)
                                    {
                                        <div class="row mt-4">
                                            <div class="col-md-12">
                                                <div class="card p-3 form-2">
                                                    <input hidden class="hiddenQuestionUUIDInput" asp-for="@Model.AllQuestionList[i].QuestionUUID" value="@Model.AllQuestionList[i].QuestionUUID" />
                                                    <input class="qnsInput form-control mt-3 qnsTB" type="text" value="@Model.AllQuestionList[i].Text" asp-for="@Model.AllQuestionList[i].Text" placeholder="Question Text" />
                                                    <input hidden class="hiddenBelongsToSUUIDInput" asp-for="@Model.AllQuestionList[i].BelongsToSurveyID" value="@Model.svy.SurveyUUID" />

                                                    <div class="mb-4">
                                                        <a class="addOptionLink" id="addOptionButton" onclick="addNewQuestionInput('@Model.AllQuestionList[i].QuestionUUID')">Add Option</a>
                                                    </div>

                                                    @{

                                                        var n = await Model._srv.GetOptionsFromAQuestion(AllQnsList[i].QuestionUUID);
                                                        if (n != null)
                                                        {
                                                            for (int k = 0; k < n.Count; k++)
                                                            {
                                                                <div class="form-inline">
                                                                    <label class="dot my-1 mr-2 mt-3"></label>
                                                                    <input class="hiddenOptionUUIDInput" hidden="hidden" asp-for="@Model.qnsOptions[k].OptionUUID" value="@n[k].OptionUUID" />
                                                                    <input class="optionInput form-control-md mt-3" type="text" asp-for="@Model.qnsOptions[k].Text" value="@n[k].Text" placeholder="Option Text" />
                                                                    <input class="hiddenBelongsToQUUIDInput" hidden="hidden" asp-for="@Model.qnsOptions[k].BelongsToQuestionID" value="@n[k].BelongsToQuestionID" />

                                                                    <span class="fas fa-times fa-lg" id="deleteOptionButton" onclick="deleteOptionInput('@n[k].OptionUUID')"></span>

                                                                </div>
                                                            }
                                                        }
                                                    }

                                                    <hr class="hruler" />

                                                    <div class="mb-4">
                                                        <span class="fas fa-trash-alt fa-2x" id="deleteQnsButton" onclick="deleteQuestionForm('@Model.AllQuestionList[i].QuestionUUID')"></span>
                                                    </div>



                                                </div>
                                            </div>
                                        </div>
                                    }

                                }
                            }
                        </form>

                        <div class="addqnsGroup" id="addQnsButton">
                            <input type="submit" value="+" class="btnCustom" />
                            <span><u><b>Add Question</b></u></span>
                        </div>

                    }
                }

            </div>
        </div>
    </div>

</div>

<script>

    function uuidv4() {
        return ([1e7] + -1e3 + -4e3 + -8e3 + -1e11).replace(/[018]/g, c =>
            (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
        );
    }

    var addQuestionButton = document.getElementById("addQnsButton");
    addQuestionButton.addEventListener("click", addNewQuestionForm);

    function addNewQuestionForm() {

        const qUUID = uuidv4();

        var rowDiv = document.createElement("div");
        rowDiv.classList.add("row");
        rowDiv.classList.add("mt-4");

        var colMD12Div = document.createElement("div");
        colMD12Div.className = "col-md-12";

        var cardP_3 = document.createElement("div");
        cardP_3.classList.add("card");
        cardP_3.classList.add("p-3");
        cardP_3.classList.add("form-2");

        var questionUUIDHidden = document.createElement("input");
        questionUUIDHidden.classList.add("hiddenQuestionUUIDInput");
        questionUUIDHidden.hidden = true;
        questionUUIDHidden.setAttribute("value", `${qUUID}`);

        var questionTB = document.createElement("input");
        questionTB.classList.add("qnsInput");
        questionTB.classList.add("form-control");
        questionTB.classList.add("mt-3");
        questionTB.classList.add("qnsTB");
        questionTB.placeholder = "Question Text"

        var questionBelongsToUUIDHidden = document.createElement("input");
        questionBelongsToUUIDHidden.classList.add("hiddenBelongsToSUUIDInput");
        questionBelongsToUUIDHidden.hidden = true;
        questionBelongsToUUIDHidden.setAttribute("value", '@Model.svy.SurveyUUID');

        cardP_3.appendChild(questionUUIDHidden);
        cardP_3.appendChild(questionTB);
        cardP_3.appendChild(questionBelongsToUUIDHidden);

        var divforInputOption = document.createElement("div");
        divforInputOption.className = "mb-4";

        var addInputButton = document.createElement("a");
        addInputButton.className = "addOptionLink";
        addInputButton.id = "addOptionButton";
        addInputButton.textContent = "Add Option";
        addInputButton.addEventListener("click", function () {
            addNewQuestionInput(qUUID);
        });

        divforInputOption.appendChild(addInputButton);

        cardP_3.appendChild(divforInputOption);

        var line = document.createElement("hr");
        line.className = "hruler";

        var divforDeleteQnsOption = document.createElement("div");
        divforDeleteQnsOption.className = "mb-4"

        var deleteQuestionButton = document.createElement("span");
        deleteQuestionButton.classList.add("fas");
        deleteQuestionButton.classList.add("fa-trash-alt");
        deleteQuestionButton.classList.add("fa-2x");

        deleteQuestionButton.id = "deleteQnsButton";
        deleteQuestionButton.addEventListener("click", function () {
            deleteQuestionForm(qUUID);
        });

        cardP_3.appendChild(line);

        divforDeleteQnsOption.appendChild(deleteQuestionButton);
        cardP_3.appendChild(divforDeleteQnsOption);

        colMD12Div.appendChild(cardP_3);
        rowDiv.appendChild(colMD12Div);

        document.getElementById("mainContainerForm").appendChild(rowDiv);
    }

    function addNewQuestionInput(questionUUID) {
        var formInlineDiv = document.createElement("div");

        const optionUUID = uuidv4();

        formInlineDiv.className = "form-inline";

        var circleIconLabel = document.createElement("span");
        circleIconLabel.classList.add("dot");
        circleIconLabel.classList.add("my-1");
        circleIconLabel.classList.add("mr-2");
        circleIconLabel.classList.add("mt-3");

        var hiddenOptionUUIDInput = document.createElement("input");
        hiddenOptionUUIDInput.className = "hiddenOptionUUIDInput";
        hiddenOptionUUIDInput.hidden = true;
        hiddenOptionUUIDInput.setAttribute("value", `${optionUUID}`);

        var optionTextInput = document.createElement("input");
        optionTextInput.classList.add("optionInput");
        optionTextInput.classList.add("form-control-md");
        optionTextInput.classList.add("mt-3");
        optionTextInput.type = "text";

        var hiddenBelongsToQUUIDInput = document.createElement("input");
        hiddenBelongsToQUUIDInput.className = "hiddenBelongsToQUUIDInput";
        hiddenBelongsToQUUIDInput.hidden = true;
        hiddenBelongsToQUUIDInput.setAttribute("value", questionUUID);

        formInlineDiv.appendChild(circleIconLabel);
        formInlineDiv.appendChild(hiddenOptionUUIDInput);
        formInlineDiv.appendChild(optionTextInput);
        formInlineDiv.appendChild(hiddenBelongsToQUUIDInput);

        var deleteInputButton = document.createElement("span");
        deleteInputButton.classList.add("fas");
        deleteInputButton.classList.add("fa-times");
        deleteInputButton.classList.add("fa-lg");

        deleteInputButton.id = "deleteOptionButton";

        deleteInputButton.addEventListener("click", function () {
            deleteOptionInput(optionUUID);
        });

        formInlineDiv.appendChild(deleteInputButton);


        var allInputs = document.getElementsByTagName("input");

        for (var i = 0; i < allInputs.length; i++) {
            if (allInputs[i].value == questionUUID) {
                if (allInputs[i].hidden == true) {
                    allInputs[i].parentElement.insertBefore(formInlineDiv, allInputs[i].parentElement.getElementsByClassName("hruler")[0]);
                    break;
                }
            }
        }
    }

    function deleteOptionInput(optionUUID) {
        var allInputs = document.getElementsByTagName("input");

        for (var i = 0; i < allInputs.length; i++) {
            if (allInputs[i].hidden == true) {
                if (allInputs[i].value == optionUUID) {
                    var parentElementOfInput = allInputs[i].parentElement;

                    parentElementOfInput.remove();
                }
            }
        }
    }

    function deleteQuestionForm(questionUUID) {
        var allInputs = document.getElementsByTagName("input");

        for (var i = 0; i < allInputs.length; i++) {
            if (allInputs[i].hidden == true) {
                if (allInputs[i].value == questionUUID) {
                    var parentCard = allInputs[i].parentElement;
                    var parentColMD = parentCard.parentElement;
                    var parentRow = parentColMD.parentElement;

                    parentRow.remove();
                }
            }
        }
    }

    function resortIndex(e) {
        //e.preventDefault();
        var questionInputs = document.getElementsByClassName("qnsInput");
        var hiddenQuestionUUIDInputs = document.getElementsByClassName("hiddenQuestionUUIDInput");
        var hiddenBelongsToSUUIDInputs = document.getElementsByClassName("hiddenBelongsToSUUIDInput");


        var hiddenOptionUUIDInputs = document.getElementsByClassName("hiddenOptionUUIDInput");
        var optionInputs = document.getElementsByClassName("optionInput");
        var hiddenBelongsToQUUIDInputs = document.getElementsByClassName("hiddenBelongsToQUUIDInput");

        for (var i = 0; i < questionInputs.length; i++) {

            questionInputs[i].name = `AllQuestionList[${i}].Text`;
            hiddenQuestionUUIDInputs[i].name = `AllQuestionList[${i}].QuestionUUID`;
            hiddenBelongsToSUUIDInputs[i].name = `AllQuestionList[${i}].BelongsToSurveyID`;

            for (var k = 0; k < optionInputs.length; k++) {

                hiddenOptionUUIDInputs[k].name = `qnsOptions[${k}].OptionUUID`;
                optionInputs[k].name = `qnsOptions[${k}].Text`;
                hiddenBelongsToQUUIDInputs[k].name = `qnsOptions[${k}].BelongsToQuestionID`;
            }

        }
        //$.ajax({
        //    url: "",
        //    type: "POST",
        //    data: $("#mainContainerForm").serialize(),
        //    success: function () {
        //        alert('success');
        //    }
        //});
    }

        document.getElementById("mainContainerForm").addEventListener("submit", resortIndex);
</script>

