@page "{sid}"
@model EDP_Project.Pages.Staff.Survey.EditModel
@{
    ViewData["Title"] = "Edit Survey - Admin";
}

<style>
    .btnCustom {
        display:inline-block;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        border: 1px solid black;
        padding-top: 0px;
        font-size: 30px;
        font-weight: bold;
    }

    .qnsTB{
        background-color: #f1f3f4;
        border: none;
        border-bottom: 1px solid black;
        border-radius: 10px 10px 0 0;
    }
</style>

<div class="container" id="mainContainer">
    <h1 class="text-center text-dark mt-5">Edit Survey </h1>
    <div class="row">
        <div class="col-md-12">
            <div class="card p-3">
                @{
                    if (Model.svy != null)
                    {
                        <form class="row" asp-action="" method="post">

                            <div asp-validation-summary="All" class="text-danger"></div>

                            <div class="col-12 my-3">
                                <label class="form-label">SurveyUUID: </label>
                                <label class="form-label">@Model.svy.SurveyUUID</label>
                            </div>

                            <div class="col-12 my-3">
                                <label class="form-label">Category</label>
                                @Html.DropDownListFor(m => m.svy.Category, Enum.GetNames(typeof(Models.Survey.SurveyCategory)).Select(e => new SelectListItem { Text = e }), new { @class = "form-control" })
                                <span asp-validation-for="@Model.svy.Category" class="text-danger"></span>
                            </div>

                            <div class="col-12 my-3">
                                <label class="form-label">Title</label>
                                <input class="form-control" type="text" asp-for="svy.Title" />
                                <span asp-validation-for="@Model.svy.Title" class="text-danger"></span>
                            </div>
                            <div class="col-12 my-3">
                                <label class="form-label">Description</label>
                                <textarea class="form-control" asp-for="svy.Description"></textarea>
                                <span asp-validation-for="@Model.svy.Description" class="text-danger"></span>
                            </div>

                        </form>

                        <input type="submit" value="+" class="btnCustom" id="addQnsButton"/>
                    }
                }

            </div>
        </div>
    </div>

    @{
        if (Model.qnsList != null)
        {
            foreach (var qns in Model.qnsList)
            {
                <div class="row mt-4">
                        <div class="col-md-12">
                            <div class="card p-3">
                                <input class="form-control mt-3 qnsTB" type="text" value="@qns.Text" placeholder="Question Text" />

                                @{
                                    if (Model._srv.GetOptionsFromAQuestion(qns.QuestionUUID) != null)
                                    {
                                        foreach (var option in Model._srv.GetOptionsFromAQuestion(qns.QuestionUUID))
                                        {
                                             <input class="form-control mt-3 qnsTB" type="text" value="@option.Text" placeholder="Option Text" />
                                        }
                                    }
                                }
                            </div>
                        </div>
                </div>
            }
        }
    }

</div>

<script>
    var addQuestionButton = document.getElementById("addQnsButton");
    addQuestionButton.addEventListener("click", addNewQuestionForm);

    function addNewQuestionForm() {
        var rowDiv = document.createElement("div");
        rowDiv.classList.add("row");
        rowDiv.classList.add("mt-4");

        var colMD12Div = document.createElement("div");
        colMD12Div.className = "col-md-12";

        var cardP_3 = document.createElement("div");
        cardP_3.classList.add("card");
        cardP_3.classList.add("p-3");

        colMD12Div.appendChild(cardP_3);
        rowDiv.appendChild(colMD12Div);

        document.getElementById("mainContainer").appendChild(rowDiv);

    }
</script>

