@page "{sid}"
@model EDP_Project.Pages.Staff.Survey.EditModel
@{
    ViewData["Title"] = "Edit Survey - Admin";
}

<style>
    .btnCustom {
        display:inline-block;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        border: 1px solid black;
        padding-top: 0px;
        font-size: 30px;
        font-weight: bold;
    }

    .qnsTB{
        background-color: #f1f3f4;
        border: none;
        border-bottom: 1px solid black;
        border-radius: 10px 10px 0 0;
    }

    .dot {
        height: 25px;
        width: 25px;
        background-color: white;
        border: 2px solid grey;
        border-radius: 50%;
        display: inline-block;
    }

</style>

<div class="container">
    <h1 class="text-center text-dark mt-5">Edit Survey </h1>
    <div class="row">
        <div class="col-md-12">
            <div class="p-3">
                @{
                    if (Model.svy != null)
                    {
                        <input type="submit" value="+" class="btnCustom" id="addQnsButton" />
                        <form asp-action="" method="post" id="mainContainerForm">
                            <div class="col-12 my-3 text-center">
                                <input type="submit" value="Update" class="btn btn-dark ml-auto" />

                            </div>
                            <div class="row mt-4">
                                <div class="col-md-12">
                                    <div class="card p-3">
                                        <div asp-validation-summary="All" class="text-danger"></div>

                                        <div class="col-12 my-3">
                                            <input hidden class="form-label" asp-for="@Model.svy.SurveyUUID" value="@Model.svy.SurveyUUID" />
                                        </div>

                                        <div class="col-12 my-3">
                                            <label class="form-label">Category</label>
                                            @Html.DropDownListFor(m => m.svy.Category, Enum.GetNames(typeof(Models.Survey.SurveyCategory)).Select(e => new SelectListItem { Text = e }), new { @class = "form-control" })
                                            <span asp-validation-for="@Model.svy.Category" class="text-danger"></span>
                                        </div>

                                        <div class="col-12 my-3">
                                            <label class="form-label">Title</label>
                                            <input class="form-control" type="text" asp-for="svy.Title" />
                                            <span asp-validation-for="@Model.svy.Title" class="text-danger"></span>
                                        </div>
                                        <div class="col-12 my-3">
                                            <label class="form-label">Description</label>
                                            <textarea class="form-control" asp-for="svy.Description"></textarea>
                                            <span asp-validation-for="@Model.svy.Description" class="text-danger"></span>
                                        </div>

                                    </div>

                                </div>
                            </div>

                            @{
                                var AllQnsList = Model.AllQuestionList;

                                if (AllQnsList != null)
                                {
                                    for (int i = 0; i < AllQnsList.Count; i++)
                                    {
                                        <div class="row mt-4">
                                            <div class="col-md-12">
                                                <div class="card p-3">
                                                    @*<input hidden asp-for="@Model.AllQuestionList[i].QuestionUUID" value="@Model.AllQuestionList[i].QuestionUUID" />*@
                                                    <input class="form-control mt-3 qnsTB" type="text" value="@Model.AllQuestionList[i].Text" asp-for="@Model.AllQuestionList[i].Text" placeholder="Question Text" />
                                                    @*<input hidden asp-for="@Model.AllQuestionList[i].BelongsToSurveyID" value="@Model.svy.SurveyUUID" />*@


                                                @*@{ 
                                                
                                                    var n = Model._srv.GetOptionsFromAQuestion(AllQnsList[i].QuestionUUID);
                                                    if (n != null)
                                                    {
                                                        for (int k = 0; k < n.Count; k++)
                                                        {
                                                            <div class="form-inline">
                                                                <label class="dot my-1 mr-2 mt-3"></label>
                                                                <input hidden="hidden" asp-for="@Model.qnsANDoptions[i][AllQnsList[i].QuestionUUID][k].OptionUUID" value="@n[k].OptionUUID"/>
                                                                <input class="form-control mt-3" type="text" asp-for="@Model.qnsANDoptions[i][AllQnsList[i].QuestionUUID][k].Text" value="@n[k].Text" placeholder="Option Text" />
                                                                <input hidden="hidden" asp-for="@Model.qnsANDoptions[i][AllQnsList[i].QuestionUUID][k].BelongsToQuestionID" value="@n[k].BelongsToQuestionID"/>
                                                            </div>
                                                        }
                                                    }
                                                }*@
                                                </div>
                                            </div>
                                        </div>
                                    }

                                }
                            }
                        </form>

                    }
                }

            </div>
        </div>
    </div>

</div>

<script>
    var addQuestionButton = document.getElementById("addQnsButton");
    addQuestionButton.addEventListener("click", addNewQuestionForm);


    var qnsCount = @Model.AllQuestionList.Count;

    function addNewQuestionForm() {
        var rowDiv = document.createElement("div");
        rowDiv.classList.add("row");
        rowDiv.classList.add("mt-4");

        var colMD12Div = document.createElement("div");
        colMD12Div.className = "col-md-12";

        var cardP_3 = document.createElement("div");
        cardP_3.classList.add("card");
        cardP_3.classList.add("p-3");

        @*var questionUUIDHidden = document.createElement("input");
        questionUUIDHidden.hidden = true;
        questionUUIDHidden.name = `AllQuestionList[${qnsCount}].QuestionUUID`;
        questionUUIDHidden.setAttribute("value",'@Guid.NewGuid().ToString()');*@

        var questionTB = document.createElement("input");
        questionTB.classList.add("form-control");
        questionTB.classList.add("mt-3");
        questionTB.classList.add("qnsTB");
        questionTB.placeholder = "Question Text"
        questionTB.name = `AllQuestionList[${qnsCount}].Text`;

        @*var questionBelongsToUUIDHidden = document.createElement("input");
        questionBelongsToUUIDHidden.hidden = true;
        questionBelongsToUUIDHidden.name = `AllQuestionList[${qnsCount}].BelongsToSurveyID`;
        questionBelongsToUUIDHidden.setAttribute("value",`@Model.svy.SurveyUUID`);*@

        //cardP_3.appendChild(questionUUIDHidden);
        cardP_3.appendChild(questionTB);
        //cardP_3.appendChild(questionBelongsToUUIDHidden);
        colMD12Div.appendChild(cardP_3);
        rowDiv.appendChild(colMD12Div);

        document.getElementById("mainContainerForm").appendChild(rowDiv);

        qnsCount++;
    }
</script>

