@page "{sid}"
@model EDP_Project.Pages.Staff.Survey.ViewResponsesModel
@{
}

<style>
    .box {
        border:  1px solid #cccccc;
        box-shadow: 0 0 2px #cccccc;
    }

    svg {
        border: 1px solid #cccccc;
    }

    #draw-charts {
        width: 80%;
        margin: 0 auto;
    }

    #draw-charts > div {
        margin: 5% 0;
    }

    .title {
        display: inline-block;
    }

    .top-box {
        position: relative;
    }

    .ellipsis {
        position: absolute;
        display: inline;
        right: 0;

        color: black;
    }

    .box-grp {
        text-align: center;
    }

</style>

<script src="https://www.gstatic.com/charts/loader.js"></script>
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a asp-page="View">Survey</a></li>
            <li class="breadcrumb-item active" aria-current="page">View Response</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-md-12">
            <div class="p-3 box">

                <div class="box-grp">
                    <div class="top-box">
                        <h1 class="title">

                            @{
                                var listOfQuestion = new List<String>();

                                foreach (var response in Model.svyResponses)
                                {
                                    listOfQuestion.Add(response.Question_Text);
                                }

                                var responseCount = 0;

                                if (listOfQuestion.Count != 0)
                                {
                                    responseCount = @Model.svyResponses.Count / listOfQuestion.Distinct().ToArray().Length;
                                }

                                <span>Responses Count: @responseCount</span>
                            }


                            <a class="nav-link dropdown ellipsis fa-solid fa-ellipsis-v" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </a>

                            <span class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a href="@Url.Page("ViewResponses", "Download", new { Model.svy.SurveyUUID })" class="dropdown-item"><i class="fa-solid fa-download"></i> Download responses (.csv format)</a>
                                <button type="button" class="dropdown-item" data-toggle="modal" data-target="#deleteModal" href="#"><i class="fa-solid fa-trash"></i> Delete All Responses</button>


                            </span>

                        </h1>
                    </div>


                </div>

                <div id="draw-charts">
                </div>

                <!-- Modal -->
                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel">Confirmation Box</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Do you really want delete all the responses? This action cannot be reversed.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">No, stop it!</button>
                                <form asp-page="DeleteResponses" method="post" asp-route-sid="@Model.svy.SurveyUUID">
                                    <button type="submit" class="btn btn-success" href="#">Yes, do it!</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</div>

<script>
    google.charts.load('current', {
        callback: function () {


            for (var i = 0; i < @Model.svyResponseGroup.Count; i++) {

                var answers = @Json.Serialize(Model.svyResponseGroup);

                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Answers');
                data.addColumn('number', 'Count');

                var stringifyObj = JSON.stringify(answers)
                var parseObj = JSON.parse(stringifyObj)[Object.keys(answers)[i]];

                let uniqueArray = [...new Set(parseObj)]
                console.log(uniqueArray);

                for (var k = 0; k < uniqueArray.length; k++) {
                    var temp = [];
                    temp.push(uniqueArray[k]);

                    var count = 0;

                    for (var l = 0; l < parseObj.length; l++) {
                        if (parseObj[l] == uniqueArray[k]) {
                            count += 1;
                        }
                    }

                    temp.push(count)

                    data.addRow(temp);
                }

                var options = {
                    title: Object.keys(answers)[i],
                    height: 300,
                    pieSliceText: 'value', // Remove this to show percentage instead
                    legend: { textStyle: { fontSize: 14 }, alignment: 'center', position: 'right'},
                    chartArea: { },
                    is3D: true,
                };
                var container = document.getElementById('draw-charts').appendChild(document.createElement('div'));
                var chart = new google.visualization.PieChart(container);
                chart.draw(data, options);
            }
        },
        packages: ['corechart']
    });

</script>