@page
@model EDP_Project.Pages.Staff.Survey.ViewModel
@{
    ViewData["Title"] = "View Survey - Admin";
}

<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css">
<script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>

<style>
    .page-item.active .page-link {
        background-color: black !important;
    }
</style>

<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Survey</li>
        </ol>
    </nav>

    <div class="toolbar">
        <a class="btn btn-primary" asp-page="Create">Create Survey</a>
    </div>

    <h1 class="text-center">Existing Surveys</h1>

    <table
          data-toggle="table"
          data-search="true"
          data-show-columns="true"
          data-pagination= "true"
          data-filter-control="true"
          data-buttons-class="dark"
          data-page-size="5"
          data-page-list="5,10,20"
          data-page-list-class="dark"
          data-toolbar=".toolbar"
          data-toolbar-align="left"
          data-pagination-pre-text="<"
          data-pagination-next-text=">">

        <thead>
            <tr>
                <th>Category</th>
                <th>Title</th>
                <th>CreatedOn</th>
                <th>UpdatedOn</th>
                <th>ViewStatus</th>
                <th>CreatedByStaffID (change to staffName later)</th>
                <th>Option 1</th>
                <th>Option 2</th>
            </tr>
        </thead>

        <tbody>

            @{
                if (Model.Surveys != null)
                {
                    foreach (var survey in Model.Surveys)
                    {
                        <tr>
                            <td>@survey.Category</td>
                            <td>@survey.Title</td>
                            <td>@survey.CreatedOn</td>
                            <td>@survey.UpdatedOn</td>
                            <td>@survey.ViewStatus</td>
                            <td>@survey.CreatedByStaffID</td>
                            <td><a class="btn btn-warning" asp-page="Edit" asp-route-sid="@survey.SurveyUUID">Edit</a></td>
                            <td>
                                <form asp-page="Delete" method="post" asp-route-sid="@survey.SurveyUUID">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </td>

                        </tr>
                    }
                }
            }
        </tbody>
    </table>

</div>