@page
@model EDP_Project.Pages.Staff.Accounts.ListModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>




    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"


    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    @*<link rel="stylesheet" href="~/css/all.min.css">*@
    <!-- Ionicons -->
    <!-- Tempusdominus Bootstrap 4 -->
    <!-- iCheck -->
    <!-- JQVMap -->
    <!-- Theme style -->



    <link rel="stylesheet" href="~/css/adminlte.min.css">

    @*<link href="~/plugins/jqvmap/jqvmap.css" media="screen" rel="stylesheet" type="text/css">*@



    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>*@
    <script src="https://momentjs.com/downloads/moment.min.js"></script>


    @*<script src="https://rawgit.com/wenzhixin/bootstrap-table/master/src/bootstrap-table.js"></script>
        <link href="https://rawgit.com/wenzhixin/bootstrap-table/master/src/bootstrap-table.css" rel="stylesheet" />*@

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css">

</head>
<body>


    @*<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>



    <div class="wrapper">

        <!-- Preloader -->


        <div class="row mb-2">
            <div class="col-sm-6">
            </div><!-- /.col -->
            <div class="col-sm-12">
                @*<ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard v1</li>
                    </ol>*@
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <h1 style="text-align:center">User Account Administration</h1>
    <br>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>@Model.userAccounts.Count</h3>

                            <p>Total Users</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-users"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-success">
                        <div class="inner">
                            @*<h3>53<sup style="font-size: 20px">%</sup></h3>*@
                            <h3> @Model.numRegistrations</h3>
                            <p>Total Registrations Today</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-warning">
                        <div class="inner">
                            <h3>@Model.numActive</h3>

                            <p>Active Users</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-user-plus"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-danger">
                        <div class="inner">
                            <h3>@Model.numInactive</h3>

                            <p>Inactive Users</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-user-times"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
            </div>
            <!-- /.row -->
            <!-- Main row -->
            <div class="row">
                <!-- Left col -->
                <section class="col-lg-7 connectedSortable">
                    <!-- Custom tabs (Charts with tabs)-->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fas fa-chart-pie mr-1"></i>
                                User Accounts
                            </h3>

                            <div class="card-tools">

                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>

                        </div><!-- /.card-header -->
                        <div class="card-body">
                            <div class="tab-content p-0">


                                <div id="toolbar">
                                    @*<a class="btn btn-primary" href="/staff/accounts/createUsers" role="button">Add new user</a>*@

                                </div>


                                <table id="table" data-search="true" data-pagination="true" data-toolbar="#toolbar"
                                       data-search="true"
                                       data-show-columns="true"
                                       data-show-refresh="true"
                                       data-detail-view="true"
                                       data-show-export="true"
                                       data-click-to-select="true" data-page-size="6" data-show-custom-view-button="true">
                                    <thead>
                                        <tr>
                                            <th data-field="username" data-sortable="true">Username</th>
                                            <th data-field="email" data-sortable="true">Email</th>
                                            <th data-field="contact" data-sortable="true">Contact</th>
                                            <th data-field="role" data-sortable="true">Role</th>
                                            <th data-field="status" data-sortable="true">Status</th>
                                            <th data-field="action" data-formatter="actionFormatter">Action</th>

                                        </tr>
                                    </thead>
                                </table>






                            </div>
                        </div><!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    <!-- solid sales graph -->
                    <div class="card bg-gradient-light ">
                        <div class="card-header border-0">
                            <h3 class="card-title">
                                <i class="fas fa-th mr-1"></i>
                                Account Creation Graph
                            </h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body p-4">
                            @*<canvas class="chart" id="line-chart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>*@

                            <canvas id="lineChart"></canvas>

                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer bg-transparent">
                            <div class="row">
                                <div class="col-4 text-center">

                                </div>
                                <!-- ./col -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.card-footer -->
                    </div>
                    <!-- /.card -->


                </section>
                <!-- /.Left col -->
                <!-- right col (We are only adding the ID to make the widgets sortable)-->
                <section class="col-lg-5 connectedSortable">

                    <!-- Map card -->
                    <div class="card bg-gradient-light">
                        <div class="card-header border-0">
                            <h3 class="card-title">
                                <i class="fas fa-map-marker-alt mr-1"></i>
                                New Users
                            </h3>
                            <!-- card tools -->
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                            <!-- /.card-tools -->
                        </div>
                        <div class="card-body">
                            <div class="card-body pt-5">
                                <!--The calendar -->
                                <ul class="users-list clearfix">


                                    @foreach (var userx in Model.newUsers)
                                    {


                                        <li>
                                            <img src="~/@userx.PhotoPath" alt="User Image" class="img-size-50 mr-0 img-circle">
                                            <a class="users-list-name" href="#">@userx.Username</a>
                                            <span class="users-list-date">@userx.DateCreated.Substring(0, 10)</span>
                                        </li>

                                    }







                                    @*<li>
                                            <img src="dist/img/user8-128x128.jpg" alt="User Image">
                                            <a class="users-list-name" href="#">Norman</a>
                                            <span class="users-list-date">Yesterday</span>
                                        </li>
                                        <li>
                                            <img src="dist/img/user7-128x128.jpg" alt="User Image">
                                            <a class="users-list-name" href="#">Jane</a>
                                            <span class="users-list-date">12 Jan</span>
                                        </li>
                                        <li>
                                            <img src="dist/img/user6-128x128.jpg" alt="User Image">
                                            <a class="users-list-name" href="#">John</a>
                                            <span class="users-list-date">12 Jan</span>
                                        </li>
                                        <li>
                                            <img src="dist/img/user2-160x160.jpg" alt="User Image">
                                            <a class="users-list-name" href="#">Alexander</a>
                                            <span class="users-list-date">13 Jan</span>
                                        </li>
                                        <li>
                                            <img src="dist/img/user5-128x128.jpg" alt="User Image">
                                            <a class="users-list-name" href="#">Sarah</a>
                                            <span class="users-list-date">14 Jan</span>
                                        </li>
                                        <li>
                                            <img src="dist/img/user4-128x128.jpg" alt="User Image">
                                            <a class="users-list-name" href="#">Nora</a>
                                            <span class="users-list-date">15 Jan</span>
                                        </li>
                                        <li>
                                            <img src="dist/img/user3-128x128.jpg" alt="User Image">
                                            <a class="users-list-name" href="#">Nadia</a>
                                            <span class="users-list-date">15 Jan</span>
                                        </li>*@


                                </ul>
                            </div>













                        </div>
                        <!-- /.card-body-->
                        <!--<div class="card-footer bg-transparent">
                            <div class="row">
                                <div class="col-4 text-center">
                                    <div class="text-white">Testing</div>
                                </div>-->
                        <!-- ./col -->
                        <!--<div class="col-4 text-center">
                            <div id="sparkline-2"></div>
                            <div class="text-white">Testing</div>
                        </div>-->
                        <!-- ./col -->
                        <!--<div class="col-4 text-center">
                                <div class="text-white">Nigger</div>
                            </div>
                        </div>-->
                        <!-- /.row -->
                        <!--</div>-->

                    </div>





                    <!-- /.card -->



                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Audit Logging</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>

                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">




                            <table id="table2" data-search="true" data-pagination="true"
                                   data-search="true"
                                   data-show-columns="true"
                                   data-show-refresh="true"
                                   data-show-export="true"
                                   data-click-to-select="true" data-page-size="6" data-show-custom-view-button="true">
                                <thead>
                                    <tr>
                                        <th data-field="machineName" data-sortable="true">Host</th>
                                        <th data-field="level" data-sortable="true">Category</th>
                                        <th data-field="logged" data-formatter="dateFormat" data-sortable="true">Date and Time</th>
                                        <th data-field="message" data-sortable="true">Operation</th>


                                    </tr>
                                </thead>
                            </table>


                            @*<div id="vmap" style="width: 800px; height: 450px;"></div>*@





                        </div>
                        <!-- /.card-body -->
                        @*<div class="card-footer bg-light p-0">
                                <ul class="nav nav-pills flex-column">
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">
                                            United States of America
                                            <span class="float-right text-danger">
                                                <i class="fas fa-arrow-down text-sm"></i>
                                                12%
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">
                                            India
                                            <span class="float-right text-success">
                                                <i class="fas fa-arrow-up text-sm"></i> 4%
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">
                                            China
                                            <span class="float-right text-warning">
                                                <i class="fas fa-arrow-left text-sm"></i> 0%
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>*@

                        <!-- /.footer -->
                    </div>



                </section>
                <!-- right col -->
            </div>
            <!-- /.row (main row) -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- /.control-sidebar -->
    </div>


    @*<script src="dist/js/pages/dashboard.js"></script>*@

    <!--<script src="~/plugins/jquery/jquery.min.js"></script>

    <script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>

    <script>$.widget.bridge('uibutton', $.ui.button)</script>


    <script src="~/js/bootstrap.bundle.min.js"></script>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <!-- jQuery UI 1.11.4 -->
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <!-- Bootstrap 4 -->
    <!--@*<script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>*@

    <script src="~/js/dashboard.js"></script>-->
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->

    <script src="~/plugins/jquery/jquery.min.js"></script>


    <!-- jQuery UI 1.11.4 -->
    <script src="~/plugins/jquery-ui/jquery-ui.js"></script>

    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>



    <!-- Bootstrap 4 -->
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <!-- JQVMap -->
    <!-- jQuery Knob Chart -->
    <!-- daterangepicker -->
    <!-- AdminLTE App -->
    <!-- AdminLTE for demo purposes -->
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->


    <script src="~/js/cardwidget.js"></script>



    <script src="~/js/dashboard.js"></script>

    <link href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css" rel="stylesheet">


    <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>

    <script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>


    <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/extensions/export/bootstrap-table-export.min.js"></script>




    <script src="https://unpkg.com/codeflask/build/codeflask.min.js"></script>





    @{
        var niggerman = @Model.userAccounts;
        var niggerman2 = @Model.userLogs;




        var janG = Model.janGuest;
        var janS = Model.janStaff;

        var febG = Model.febGuest;
        var febS = Model.febStaff;


        var marG = Model.marGuest;
        var marS = Model.marStaff;


        var aprG = Model.aprGuest;
        var aprS = Model.aprStaff;

        var mayG = Model.marGuest;
        var mayS = Model.marStaff;


        var junG = Model.junGuest;
        var junS = Model.junStaff;


        var julG = Model.julGuest;
        var julS = Model.julStaff;

        var augG = Model.augGuest;
        var augS = Model.augStaff;


        var sepG = Model.sepGuest;
        var sepS = Model.sepStaff;


        var octG = Model.octGuest;
        var octS = Model.octStaff;


        var novG = Model.novGuest;
        var novS = Model.novStaff;


        var decG = Model.decGuest;
        var decS = Model.decStaff;



    }



    <script>


     var datakmfks = @Html.Raw(Json.Serialize(niggerman))
     var datakmfkslogs = @Html.Raw(Json.Serialize(niggerman2))







        var $table = $('#table')
    $(function () {
        var data = datakmfks
            $table.bootstrapTable({ data: data })
        })


        function actionFormatter(index, row) {
            var html = []
            $.each(row, function (key, value) {

                // if username is equal to current username or admin count != 1 and role == guest)


                if (key == 'username') {


                    html.push('<div style="text-align:center">')





                    html.push('<a class="edit" href="https://localhost:44320/Staff/Accounts/Update?id=' + value + '" title="edit"><i class="fa fa-edit"></i></a>')
                    html.push('<a class="edit" href="https://localhost:44320/Staff/Accounts/Delete?id=' + value + '" title="edit"><i class="fa fa-trash"></i></a>')

                    html.push('</div>')

                }


            })
            return html.join("")
    }





        //line
        var ctxL = document.getElementById("lineChart").getContext('2d');
        var myLineChart = new Chart(ctxL, {
            type: 'line',
            data: {
                labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "November", "October", "December"],
                datasets: [{
                    label: "Guest Accounts",
                    data: [@janG, @febG, @marG, @aprG, @mayG, @junG, @julG, @augG, @sepG, @octG, @novG, @decG],
                    backgroundColor: [
                        'rgba(105, 0, 132, .2)',
                    ],
                    borderColor: [
                        'rgba(200, 99, 132, .7)',
                    ],
                    borderWidth: 2
                },
                {
                    label: "Staff Accounts",
                    data: [@decS, @febS, @marS, @aprS, @mayS, @junS, @julS, @augS, @sepS, @octS, @novS, @decS],
                    backgroundColor: [
                        'rgba(0, 137, 132, .2)',
                    ],
                    borderColor: [
                        'rgba(0, 10, 130, .7)',
                    ],
                    borderWidth: 2
                }
                ]
            },
            options: {
                responsive: true
            }
        });









    </script>



    <script>

        function dateFormat(value, row, index) {
            return moment(value).format('DD/MM/YYYY HH:mm:ss');
        }


        var $table2 = $('#table2')
        $(function () {
            var data = datakmfkslogs
            $table2.bootstrapTable({ data: data })
        })


    </script>








</body>
</html>
