@page
@model EDP_Project.Pages.FoodListModel
@{
    ViewData["Title"] = "Food List";
}
<link href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css" rel="stylesheet">
<script src="https://momentjs.com/downloads/moment.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.19.1/dist/extensions/custom-view/bootstrap-table-custom-view.js"></script>

<h1>Health Tracking - Food Records</h1>
<br />
<div class="row">
    <a asp-page="AddFood" class="btn btn-primary" style="margin-bottom:2%;"><i class="fas fa-plus-circle"></i> Add new food</a>
</div>
<br />

<div class="" id="LMTab">
    <!--<div class="toolbar">
        <select id="selectFilter" class="form-control" name="filterAlgorithm" onchange="getFilter(this)">
            <option value="All" selected>All categories</option>
            <option value="Light Meal">Light Meals</option>
            <option value="Heavy Meal">Heavy Meals</option>
            <option value="Drink">Drinks</option>
            <option value="Snack">Snacks</option>
        </select>
    </div>
    <table id="table"
           data-search="true"
           data-pagination="true"
           data-page-size="6"
           data-show-fullscreen="true">
        <thead>
            <tr>
                <th data-field="foodId" data-sortable="true">Id</th>
                <th data-field="foodName" data-sortable="true">Name</th>
                <th data-field="category" data-sortable="true">Category</th>
                <th data-field="calories" data-sortable="true">Calories</th>
                <th>
                    <a asp-page="EditFood" asp-route-id=""><i class="fas fa-pencil-alt"></i></a>
                    <span class="text-primary">  |  </span>
                    <button type="button" class="btn text-primary" style="padding:0px;" data-toggle="modal" data-target="#confirmDelete_"><i class="fa fa-trash"></i></button>-->
    <!-- The Modal -->
    <!--<div class="modal" id="confirmDelete_">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">-
                                    <h4 class="modal-title">Delete Confirmation</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <div class="modal-body">
                                    <p>Are you sure you want to delete ID </p>
                                    <p class="text-danger"><i class="fas fa-exclamation-triangle"></i> Proceed with caution!</p>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <a asp-page="DeleteFood" asp-route-id="" class="btn btn-danger">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </th>
            </tr>
        </thead>
    </table>-->
    <table class="table">
        <tr>
            <th>Food Id</th>
            <th>Name</th>
            <th>Category</th>
            <th>Calories</th>
            <th>Actions</th>
        </tr>

        @foreach (var food in Model.AllFood)
        {
            <tr>
                <td>@food.FoodId</td>
                <td>@food.FoodName</td>
                <td>@food.Category</td>
                <td>@food.Calories</td>
                <td>
                    <a asp-page="EditFood" asp-route-id="@food.FoodId"><i class="fas fa-pencil-alt"></i></a>
                    <span class="text-primary">  |  </span>
                    <button type="button" class="btn text-primary" style="padding:0px;" data-toggle="modal" data-target="#confirmDelete_@food.FoodId"><i class="fa fa-trash"></i></button>
                    <!-- The Modal -->
                    <div class="modal" id="confirmDelete_@food.FoodId">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Delete Confirmation</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <div class="modal-body">
                                    <p>Are you sure you want to delete ID @food.FoodId : @food.FoodName</p>
                                    <p class="text-danger"><i class="fas fa-exclamation-triangle"></i> Proceed with caution!</p>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <a asp-page="DeleteFood" asp-route-id="@food.FoodId" class="btn btn-danger">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }

        @if (Model.AllFood.Count() == 0)
        {
            <tr>
                <td class="text-center" colspan="5">No food record yet.</td>
            </tr>
        }

    </table>
</div>

<script>
    //var category = document.getElementById("CategoryFilter").value;
    //var search = document.getElementById("SearchBar").value

    //var select = document.getElementById('selectFilter');
    //var dataDict =
    /*console.log(dataDict);

    var values = [];
    for (var i = 0; i < dataDict.length; i++) {
        var obj = dataDict[i];

        var opt = document.createElement('option');
        opt.value = obj.category;
        opt.innerHTML = obj.category;
        if (values.includes(obj.category) == false) {
            select.appendChild(opt);
            values.push(obj.category)
        }

    }

    var $table = $('#table')
    $(function () {
        var data = dataDict
        $table.bootstrapTable({ data: data })
    })

    function getFilter(selectObject) {
        var value = selectObject.value;
        console.log(values);
        if (value == "All") {
            $table.bootstrapTable('filterBy', {
                category: values
            })
        }
        else {

            $table.bootstrapTable('filterBy', {
                category: value
            })
        }
    }*/

    //while (true) {
    //    setTimeout(function () {

    //    }, 1000)
    //}
</script>

