@page "{id}"
@model EDP_Project.Pages.Blog.BlogPostDetailModel
@{
    ViewData["Title"] = @Model.BlogModel.Title;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Blog Post - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="~/images/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/bPoststyles.css" rel="stylesheet" />
    <link href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://momentjs.com/downloads/moment.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/extensions/custom-view/bootstrap-table-custom-view.js"></script>
</head>
<body>

    <!-- Page content-->
    <div class="container mt-5">
        <p class="text-muted"><a asp-page="/Blog/UserViewBlog"><i class="fas fa-arrow-left"></i></a> &nbsp;&nbsp;    <em>Blog / @Model.BlogModel.Title</em></p>
        <div class="row">

            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">@Model.BlogModel.Title</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">Posted on @Model.BlogModel.Created</div>
                    <!-- Post categories-->
                    <p class="badge bg-secondary text-decoration-none link-light" href="#!">@Model.BlogModel.Category</p>

                </header>
                <!-- Preview image figure-->
                <!-- <figure class="mb-4"><img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." /></figure>-->
                <!-- Post content-->
                <section class="mb-5">
                    <p class="fs-5 mb-4">@Model.BlogModel.Header</p>
                    <p class="fs-5 mb-4">@Model.BlogModel.Content</p>
                </section>
            </article>
            <!-- Comments section-->
            <section class="mb-5">
                <div class="card bg-light">
                    <div class="card-body">
                        <!-- Comment form-->
                        <form method="post" class="mb-4">
                            <input type="number" asp-for="comment.UserId" value="@Model.usrId" hidden required />
                            <input type="number" asp-for="comment.BlogId" value="@Model.pageNum" hidden required />
                            <textarea class="form-control" asp-for="comment.Comment" id="content" rows="3" placeholder="Join the discussion and leave a comment!"></textarea>
                            <span asp-validation-for="comment.Comment" class="text-danger"></span>
                            <button type="submit" class="float-right btn btn-primary mt-sm-2">Comment</button>
                        </form>


                        <br /><br />

                        <!-- Single comment-->
                        <div >
                            <table id="table"
                                   data-search="true"
                                   data-pagination="true"
                                   data-page-size="6"
                                   data-show-custom-view="true"
                                   data-show-fullscreen="true"
                                   data-custom-view="customViewFormatter">
                                <thead>
                                    <tr>
                                        <th data-field="username" data-sortable="true">Username</th>
                                        <th data-field="comment" data-sortable="true">Comment</th>
                                        <th data-field="created" data-formatter="dateFormat" data-sortable="true">Created Date</th>
                                        <th data-field="action" data-formatter="actionFormatter">Action</th>

                                    </tr>
                                </thead>
                            </table>
                            <template id="profileTemplate">
                                <div class="ms-3">
                                    <div class="fw-bold">%USRID%</div>
                                    <p>%COMMENT%</p>
                                    <p class="text-muted">%CREATED%</p>
                                </div>
                             </template>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
    </div>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>
@{
    var cmms = @Model.commentslist;

}
<script>

    var dataBlog = @Html.Raw(Json.Serialize(cmms));
    var values = [];

    var $table = $('#table')
    $(function () {
        var data = dataBlog
        $table.bootstrapTable({ data: data })
    })

    function customViewFormatter(data) {
        var template = $('#profileTemplate').html()
        var view = ''
        $.each(data, function (i, row) {
            view += template
                .replace('%USRID%',row.username)
                .replace('%COMMENT%', row.comment)
                .replace('%CREATED%', moment(row.created).format('DD/MM/YYYY HH:mm:ss'))

        })

        return `<div class="row mx-0">${view}</div>`
        }


</script>


<
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
