@page
@model EDP_Project.Pages.Staff.Tickets.DetailsModel
@{
}


<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />

<link href="/css/tdetail.css" rel="stylesheet" />

<div class="container invoice">
    <div class="invoice-header">

        <div class="row">

            <div class="col-xs-4">
                <div class="media">

                </div>
            </div>
        </div>
    </div>




    <div class="invoice-body">

        <div style="padding-bottom: 30px;">
            <a class="nav-link text-dark" href="javascript:history.go(-1)">
                <i class="fa fa-times fa-xl" style="float:right;" aria-hidden="true"></i>
            </a>

        </div>



        <!--<div class="row">
        <div class="col-xs-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Company Details</h3>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>Name</dt>
                        <dd><strong>Acme Corporation</strong></dd>
                        <dt>Industry</dt>
                        <dd>Software Development</dd>
                        <dt>Address</dt>
                        <dd>Field 3, Moon</dd>
                        <dt>Phone</dt>
                        <dd>123.4456.4567</dd>
                        <dt>Email</dt>
                        <dd>mainl@acme.com</dd>
                        <dt>Tax NO</dt>
                        <dd class="mono">123456789</dd>
                        <dt>Tax Office</dt>
                        <dd>A' Moon</dd>
                </div>
            </div>
        </div>-->
        @*<div class="col-xs-7">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Customer Details</h3>
                    </div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            <dt>Name</dt>
                            <dd>Microsoft Corporation</dd>
                            <dt>Industry</dt>
                            <dd>Software Development</dd>
                            <dt>Address</dt>
                            <dd>One Microsoft Way Redmond, WA 98052-7329, USA</dd>
                            <dt>Phone</dt>
                            <dd>(425) 882-8080</dd>
                            <dt>Email</dt>
                            <dd>contact@microsoft.com</dd>
                            <dt>Tax NO</dt>
                            <dd class="mono">123456789</dd>
                            <dt>&nbsp;</dt>
                            <dd>&nbsp;</dd>
                    </div>
                </div>
            </div>*@
        <!--</div>-->


        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Ticket ID #@Model.myTicket.Ticket_Reference_Id (@Model.myTicket.Status) </h3>
            </div>
            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th class="text-center colfix">Customer Name</th>
                        <th class="text-center colfix">Email</th>
                        <th class="text-center colfix">Contact</th>
                        <th class="text-center colfix">Issue Type</th>
                        <th class="text-center colfix">Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">
                            <span class="mono">@Model.myTicket.CustomerName</span>
                            <br>
                            @*<small class="text-muted">Before Tax</small>*@
                        </td>
                        <td class="text-center">
                            <span class="mono">@Model.myTicket.CustomerEmail</span>
                            <br>
                            @*<small class="text-muted">18 Units</small>*@
                        </td>
                        <td class="text-center">
                            <span class="mono">@Model.myTicket.CustomerContact</span>
                            <br>
                            @*<small class="text-muted">Special -10%</small>*@
                        </td>
                        <td class="text-center">
                            <span class="mono">@Model.myTicket.IssueType</span>
                            <br>
                            @*<small class="text-muted">VAT 20%</small>*@
                        </td>
                        <td class="text-center">
                            <strong class="mono">@Model.myTicket.DateCreated</strong>
                            <br>
                            @*<small class="text-muted mono">$16,200.00</small>*@
                        </td>
                    </tr>


                </tbody>
            </table>
        </div>
        <div class="panel panel-default">
            <table class="table table-bordered table-condensed">
                <thead>
                    <div class="panel-heading">
                        <h3 class="panel-title">Problem Description</h3>
                    </div>

                    <tr>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="text-center rowtotal mono">
                            @Model.myTicket.Problem
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="row">
            <div class="col-xs-12 text-center">



                @{
                    var responseLink = "/Staff/Tickets/Response?id=" + Model.myTicket.Ticket_Reference_Id;
                }


                @{

                    if (@Model.myTicket.Status == "Open")
                    {

                        <a href="@responseLink" class="btn btn-primary" style="min-width: 250px;" role="button" aria-disabled="true">Respond</a>

                        @*<a href="#" class="btn btn-success" style="min-width: 250px;" role="button" aria-disabled="true">Forward</a>*@

                    }


                }

                <a href="/Staff/Tickets/Dashboard" class="btn btn-danger" style="min-width: 250px;" role="button" aria-disabled="true">Cancel</a>



            </div>


            @*<div class="col-xs-6 ">

                    <button type="button" class="btn btn-primary">Primary</button>

                    <button type="button" class="btn btn-primary">Primary</button>


                </div>*@


        </div>

    </div>

</div>

